<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <video src="/public/movie.mp4" id="video" preload width="100%" controls webkit-playsinline></video>
  </body>
  <script>
  </script>
</html>